@using Catblog.Models.Accounts
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Yo">@User.Identity.Name</a>
		</li>
		<li>
			<form class="form-inline" asp-controller="Accounts" asp-action="Logout">
				<button id="test_logout_button" type="submit" class="nav-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li>
			<a id="test_register_index" class="nav-link text-dark" asp-controller="Accounts"
			   asp-action="Register">Register</a>
		</li>
		<li>
			<a id="test_login_index"class="nav-link text-dark" asp-controller="Accounts"
			   asp-action="Login">Login</a>
		</li>
	}
</ul>