@model Catblog.Models.Post.Post

<div id="container">
    <section class="aboutus">
        @foreach (var image in Model.Image)
        {
            @if (image.Image == null || !image.Image.Any())
            {
                <img src="~/lib/image/Cat.jpg" alt="Default Image" class="card-img-top" />
            }
            else
            {
                <partial name="_ImageIndex" model="image" style="max-width: 100vh;" />
            }            
        }
    </section>

    <section class="Catinfo">
        <section class="DescriptionArea">
            <div class="post-title">
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="post-description">
                @Html.DisplayFor(model => model.Description)
            </div>
        </section>
        <section class="CommentArea">
            <div>Some more 1</div>
                <div>Some more 2</div>
                <div>Some more 3</div>
                <div>Some more 4</div>
                <div>Some more 5</div>
                <div>Some more 6</div>
        </section>
            <section class="AddCommentArea">
                <textarea style="resize: none;"></textarea><br />
                <button class="btn btn-secondary" style="width: 100%; height:24.5%">Add</button>
            </section>
        </section>
    </div>      