@using Catblog.Models.Accounts
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Yo" id="test_layoutUsername">@User.Identity.Name</a>
		</li>
		<li>
			<form class="form-inline" asp-controller="Accounts" asp-action="Logout" id="test_Logout_Index">
				<button type="submit" class="nav-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li>
			<a class="nav-link text-dark" asp-controller="Accounts" id="test_register_index"
			   asp-action="Register">Register</a>
		</li>
		<li>
			<a class="nav-link text-dark" asp-controller="Accounts" id="test_login_index"
			   asp-action="Login">Login</a>
		</li>
	}
</ul>