@model IEnumerable<Catblog.Models.Post.Post>
@{
    ViewData["Title"] = "Home Page";
}
@{
    int rowNumber = 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
</div>
<form method="post" id="PostForm">
    <table class="table">
        <tbody>
            @foreach (var post in Model)
            {
            <td>
                <a asp-action="PostDetails" asp-controller="Post" asp-route-id="@post.Id" class="btn_for_users">
                    <table id="Post">
                        <tr><td colspan="2" style="font-weight:bold;">@post.Title</td></tr>
                        <tr>
                            <td colspan="2">
                                    @if (post.Image == null || !post.Image.Any())
                                    {
                                    <img src="~/lib/image/Cat.jpg" alt="Default Image" class="card-img-top" />
                                    }
                                    else
                                    {
                                        @foreach (var Image in post.Image)
                                        {
                                            <partial name="_ImageIndex" model="Image" style=""/>
                                        }
                                    }
                            </td>
                        </tr>
                        <tr>
                            <td style="word-wrap: break-word; word-break: break-word; white-space: normal;">@post.Description</td>
                        </tr>
                    </table>
                   @*Delete action*@
                    @if (User.Identity.IsAuthenticated)
                        {
                            <h5>Actions:</h5>
                            <a asp-action="DeleteConfirmation" asp-controller="Post" asp-route-id="@post.Id" class="btn btn-primary">Delete</a>
                        }
                </a>
            </td>
                rowNumber++;
                if (rowNumber % 1 == 0)
                {
                <tr></tr>
                }
            }
        </tbody>           
    </table>
</form>
