@model Catblog.Models.AdminCat

<div class="h1">Create Cat</div>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="AdminCatName" class="control-label">Cat name</label>
				<input asp-for="AdminCatName" class="form-control" />
				<span asp-validation-for="AdminCatName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminCatSpecies" class="control-label">Cat species</label>
				<input asp-for="AdminCatSpecies" class="form-control" />
				<span asp-validation-for="AdminCatSpecies" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminCatAge" class="control-label">Cat age</label>
				<input asp-for="AdminCatAge" class="form-control" />
				<span asp-validation-for="AdminCatAge" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminCatGender" class="control-label">Cat gender</label>
				<input asp-for="AdminCatGender" class="form-control" />
				<span asp-validation-for="AdminCatGender" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminCatDescription" class="control-label">Cat description</label>
				<input asp-for="AdminCatDescription" class="form-control" />
				<span asp-validation-for="AdminCatDescription" class="text-danger"></span>
			</div>
			@{
				var breakpoint = "";
			}
			<input asp-action="Create" asp-controller="AdminKittys" type="submit"
			class="btn btn-primary form-text" value="Create " />
		</form>
	</div>
	<div>
		<a asp-action="Index" class="btn btn-danger">Back</a>
	</div>

</div>
