@model Catblog.Models.AdminKittys.Create

<div>
	<section class="aboutus">
        <section class="Catinfo">
            <section class="DescriptionArea">
                @Html.DisplayFor(Model => Model.AdminCatTitle)
                <div>@Html.DisplayFor(model => model.AdminCatDescription)</div>
            </section>

	</section>
</div>
