html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#AddNewPostForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Post {
    border: 4px;
    border-color: dimgray;
    text-align: center;
    height: 650px;
    width: 650px;
    background-color: blanchedalmond;
    border-radius: 4%;
}
#PostForm {
    margin: auto;
    width: 50%;
    text-overflow: ellipsis;
    max-width: 650px;
}
#PostForm a{
    color:black;
    text-decoration:none;
}
#PostDetails {
    text-align:center;
    margin: auto;
    width: 50%;
}

#container {
    display: flex;
    width: 100vw !important;
    height: 100vh !important;
}

.aboutus {
    background: #CCC;
    width: 80%;
}

.Catinfo {
    background: #DDD;
    width: 20%;
}

.DescriptionArea {
    height: 30%;
}

.CommentArea {
    height: 50%;
}

.AddCommentArea {
    height: 15%;
}
.AddCommentArea textarea{
    width:100%;
    height: 80%;
}
.LikeArea{
    height: 5%;
}

html {
    position: relative;
    height: 100%;
}

body {
  margin-bottom: 60px;
}


/*REGISTER PAGE*/ 

.regButton {
    background-color: rgb(0, 177, 255);
    /*border-radius: 3px;*/
    font-size:25px;
    border-color: transparent;
    color:white;
}
.register-background {
    margin-top:25%;
    margin-left:25%;
    margin-right:25%;
    border-radius: 5px;
    padding: 10px;
    background: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}
.register-login-body {
    background-image: url(../lib/image/regback.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}
.reg-login-form {
    align-content:center;
    padding-left: 33%;
    padding-right: 30%;
    font-family:Arial;
}
