html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*REGISTER PAGE*/ 

.regButton {
    background-color: rgb(0, 177, 255);
    /*border-radius: 3px;*/
    font-size:25px;
    border-color: transparent;
    color:white;
}
.register-background {
    margin-top:25%;
    margin-left:25%;
    margin-right:25%;
    border-radius: 5px;
    padding: 10px;
    background: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}
.register-login-body {
    background-image: url(../lib/image/regback.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}
.reg-login-form {
    align-content:center;
    padding-left: 33%;
    padding-right: 30%;
    font-family:Arial;
}

/*REGISTER PAGE*/