html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*REGISTER PAGE AND LOGIN PAGE*/

.register-login-body {
    background-image: url(../lib/image/regback.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.register-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 3% auto;
    max-width: 80vh;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
    background: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

.reg-login-form {
    align-content: center;
    padding-left: 33%;
    padding-right: 30%;
    font-family: Arial;
    max-height: 100vh;
}

.regButton {
    background-color: rgb(0, 177, 255);
    border-radius: 3px;
    font-size: 25px;
    border-color: transparent;
    color: white;
}

    .regButton:hover {
        transform: scale(1.1);
        background-color: rgb(91, 235, 255);
        transition: background-color ease-in-out 0.4s, transform ease-in-out 0.3s;
    }

    .form-control:hover {
        transform: scale(1.1);
        transition: transform ease-in-out 0.2s;
    }

    .form-control:not(:hover) {
        transform: scale(1);
        transition: transform ease-in-out 0.2s;
    }

    .regButton:not(:hover) {
        transform: scale(1);
        background-color: rgb(0, 177, 255);
        transition: background-color ease-in-out 0.4s, transform ease-in-out 0.3s;
    }

/*REGISTER PAGE AND LOGIN PAGE*/