@{
    ViewData["Title"] = "Add New Post";
}

@model Catblog.Models.Cats.Cat

<div class="text-center">
    <h1>Add New Post</h1>
</div>
<hr/>
<div id="AddNewPostForm">
    <form>
        <label>Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Max"/>
        <label>Species</label>
        <input type="text" asp-for="Species" class="form-control" placeholder="Siiami kass" />
        <label>Age</label>
        <input type="number" asp-for="Age" class="form-control" placeholder="3"/>
        <label>Gender</label>
        <input type="text" asp-for="Gender" class="form-control" placeholder="Male"/>
        <label>Description</label>
        <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter you post description"></textarea>
        @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;"/>
            <a asp-controller="Cats" asp-action="AddNewPost" type="submit" class=" btn btn-danger">Post</a>
        }     
    </form>
</div>