@model Catblog.Models.Cats.Cat

    <div id="container">
        <section class="aboutus">
            <div>Some content 1</div>
            <div>Some more 1</div>
        </section>

        <section class="Catinfo">
            <section class="DescriptionArea">
            <div>@Html.DisplayFor(model => model.Description)</div>
            </section>
            <section class="CommentArea">
                <div>Some content 2</div>
                <div>Some more 2</div>
                <div>Some more 2</div>
                <div>Some more 2</div>
            </section> 
            <section class="AddCommentArea">
                <textarea></textarea><br />
                <button class="btn btn-secondary" style="width: 30%">Add</button>
            </section>
            <section class="LikeArea">
                <a asp-controller="home" asp-action="index">
                    <img src="~/lib/image/like_Icone2.svg" style="height: 30px; width: 30px; margin-top: 18px ">
                </a>
            </section>
        </section>
    </div>      