@model Catblog.Models.Accounts.UserLoginModel

<body class="register-login-body">
	<div class="register-background">
		<h1 style="text-align:center">Login</h1>

		<hr />
		<div class="row">
			<div class="reg-login-form">
				<form asp-action="Login">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<input asp-for="UserName" class="form-control" placeholder="Username"/>
						<span asp-validation-for="UserName" class="text-danger"></span>
					</div>

					<br />

					<div class="form-group">
						<input asp-for="Password" class="form-control" placeholder="Password"/>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input class="form-check input" asp-for="RememberMe" /> @Html.DisplayNameFor(Model => Model.RememberMe)
					</div>

					<br />
					<div class="form-group">
						<input type="submit" value="Login" class="regButton" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}